
<div>
  <h2>{{counter}}</h2>
</div>

<div class="setup d-flex flex-column mb-3" >
  <label>Setup</label>
  <div class="btn-group botones" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="onComenzar()">start</button>
    <button type="button" class="btn btn-primary" (click)="onPause()">pause</button>
    <button type="button" class="btn btn-primary" (click)="onDetener()">reset</button>
  </div>
</div>

<div class="setup d-flex flex-column mb-3" >
  <label>Count</label>
  <div class="btn-group botones" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="onCountUp()">count up</button>
    <button type="button" class="btn btn-primary" (click)="onCountDown()">count down</button>
  </div>
</div>

<div class="input-group d-flex flex-column mb-3">
  <label>Set to</label>
  <input class="inputs" type="number" placeholder="0" [(ngModel)]="setTo">
</div>

<div class="input-group d-flex flex-column mb-3">
  <label>Step</label>
  <input class="inputs" type="number" placeholder="0" [(ngModel)]="step">
</div>
